* {
    margin: 0;
    padding: 0;
}

:root {
    --mycolor: #3776ff;
}

body {
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Poppins', sans-serif !important;
}


/* HEADER FILE _ NAVBAR */
.nav-link {
    font-family: 'Poppins', sans-serif !important;
    color: black !important;
    /* margin: 2px 15px; */
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--mycolor);
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: var(--mycolor) !important;
}

.nav-link:hover::before {
    width: 100%;
}

.nav_custom_item {
    font-size: 20px;
    margin: 0 10px;
}

.nav-link.active,
.dropdown-item.active {
    border-bottom: solid 2px var(--mycolor) !important;
    color: var(--mycolor) !important;
}


.dropdown-menu a.dropdown-item:hover {
    color: white;
    background-color: var(--mycolor);
}

/* media query for navbar */
@media screen and (max-width:760px) {

    .quick_links {
        align-items: center;
    }
}


/* INDEX _ HOME*/
.content_para {
    margin: 50px 70px !important;
    line-height: 73px;
    font-weight: 800;
    padding-top: 60px;
    word-break: keep-all;
    font-size: 55px;
}


.img_banner {
    background-size: cover;
    padding-right: 60px !important;
}

.color-change {
    color: var(--mycolor);
}

.div_para {
    margin: 50px 70px !important;
    font-size: 20px;
    font-weight: 800;
    color: rgb(89, 98, 116);
    max-width: 400px;
    line-height: 38px;
}

.contetnt_div {
    font-size: 25px;
    text-indent: 30%;
    line-height: 40px;
    word-break: keep-all;
    font-weight: 500;

}

.para_content {
    font-size: 20px;
    font-weight: 800;
}

.btn-explore {
    position: relative;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--mycolor) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right;
    font-size: 20px;
    padding: 8px 15px;
    z-index: 1;
    border: 2px solid var(--mycolor);
    transition: background-position 0.3s ease-in-out;
    margin: 0px 70px !important;

}

.btn-explore:hover {
    background-position: left;
    color: white !important;
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slide-right {
    animation: slide-right 1s cubic-bezier(.25, .46, .45, .94) both;
}

.adventure_img {
    height: 600px !important;
    background-size: contain;
}

.counter_card {
    background: transparent !important;
    font-weight: 900;
    border: none !important;
    padding: 50px 0px;
    color: white !important;
}

.counter_card_title {
    font-size: 25px;
    padding-top: 40px;
    color: white !important;
}

.counter-icons {
    font-size: 100px;
    padding: 30px;
    color: white;
    box-shadow: 0px 0px 10px 5px white;
}

.counter_para {
    font-size: 25px !important;
}

.banner_img {
    background-image: url('../images/backs.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

/* carousel */
.caption_p {
    color: rgb(255, 255, 255);
    font-weight: 700 !important;
}

.carousel_img {
    height: 900px;
}

.caption_detail {
    color: #ffffff;
    font-weight: 500 !important;
}

/* content with img */
.h2_custom {
    letter-spacing: 3px;
    line-height: 80px;
    font-weight: 500 !important;
    font-family: 'Poppins', sans-serif !important;
}

.para_custom {
    font-size: 23px;
    color: rgb(15, 111, 112) !important;
    font-family: 'Poppins', sans-serif !important;
    text-indent: 130px;
}

/* country img with animation */
/* country name styling */
.country_name_box {
    position: absolute;
    color: white;
    width: 60%;
    text-align: center;
    bottom: 0;
    background-color: var(--mycolor);
    z-index: 2;
    padding: 3px;
}

.country_imgs {
    transition: transform 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.country_container {
    overflow: hidden;
    position: relative;
}

.country_container:hover .country_imgs {
    transform: scale(1.4);
}

/* DESTINATION - COUNTRY DETAILS */

.detail_h1 {
    box-shadow: 0px 5px 20px 5px var(--mycolor);
    opacity: 0;
    animation: fadeIn 2.5s forwards;

}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.package-card {
    position: relative;
    border: 1px solid var(--mycolor);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--mycolor);
    padding: 40px;
    text-align: center;
    margin: 20px;
    overflow: hidden;
}

/* Package image */
.package-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
}

/* Package title */
.package-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--mycolor);
}

/* Package description (hidden by default) */
.package-description {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    transition: bottom 0.3s ease-in-out;
}

.package-card:hover .package-description {
    bottom: 0;
}

/* contry_Detail_places!! */
.card-text {
    text-indent: 50;
}

.places_card:hover {

    box-shadow: 5px 5px 0px 0px var(--mycolor) !important;
    color: var(--mycolor);
}

@media (max-width: 576px) {
    .custom-card {
        margin-bottom: 20px;
        height: auto;
    }

    .custom-card .card-img-top {
        height: 200px;
    }
}

/* ABOUT US */
.section-title {
    margin-bottom: 40px;
}

.team-member {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px var(--mycolor);
}

.team-member-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto 15px;
    object-fit: cover;
}

.team-member-name {
    font-size: 24px;
    margin: 10px 0;
}

.team-member-role {
    font-weight: 600;
    color: #777;
}

.team-member-description {
    font-size: 16px;
    color: #555;
}

#testimonial {
    background-color: #f8f8f8;
}

.testimonial-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.testimonial-item:hover {
    transform: translateY(-5px);
    background-color: #f0f0f0;
}

.testimonial-content {
    font-size: 18px;
    margin-bottom: 20px;
}

.testimonial-author h5 {
    font-weight: bold;
}

.testimonial-author span {
    font-style: italic;
    color: #888;
}


/* FOOTER */
.footer_custom {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 20px;
    letter-spacing: 2px;
}

.footer_links {
    text-decoration: none;
    color: white;
    font-weight: 100 !important;
    font-size: 25px !important;
}

.footer_links:hover {
    color: var(--mycolor);
    text-decoration: solid;
}

.footer_h5 {
    color: var(--mycolor);
    font-weight: 900;

}

.para_footer {
    font-size: 25px;
}

/* CONTACT US */

.contact-form {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.btn_submit {
    position: relative;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--mycolor) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right;
    font-size: 20px;
    padding: 8px 15px;
    z-index: 1;
    border: 2px solid var(--mycolor);
    transition: background-position 0.3s ease-in-out;
}

.btn_submit:hover {
    background-position: left;
    color: white !important;
}

@media (max-width: 768px) {

    .contact-card,
    .contact-form {
        margin-bottom: 20px;
    }
}

.background_banner {
    background-image: url('../images/contactUs.jpg');
    background-size: cover;
    height: 400px;
}

.contactUs_h1 {
    font-weight: 400 !important;
    letter-spacing: 2px;
}

.contactus_p_contact_Details {
    letter-spacing: 2px;
}

.contact_detail_padding {
    padding-left: 20% !important;
}

.contactUs_h2 {
    line-height: 80px;
    font-weight: 500 !important;
    letter-spacing: 2px;
    color: white;
    padding: 35px;
    margin-top: 180px;
}

.contactUs_h3 {
    color: grey;

}

.global_country_div {
    box-shadow: 0 4px 24px rgba(0, 0, 0, .08);
}

.global_country_div:hover {
    background: linear-gradient(#007bff1d, rgba(128, 128, 128, 0.26));
    font-weight: 800 !important;
    color: var(--mycolor);
}

.International_div {
    box-shadow: 0 4px 24px rgba(0, 0, 0, .08);
}

.International_div:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.International_div:hover i,
.International_div:hover p {
    color: #007bff;
    transition: color 0.3s ease;
}


.contactus_icons {
    font-size: 80px !important;
}

.contactus_country_P {
    font-size: 25px !important;
}

.back_AboutUs {
    background-image: url('../images/About_Us.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

.contactUs_Heading {
    font-weight: 400 !important;
}

.contactUs_para {
    margin: 50px 0;
    text-indent: 30%;
}

.card-body {
    margin: 10px 40px !important;
}

.ContactUs_global {
    color: #fcfcfb !important;
}

.counter {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 1.5%;
    font-size: 50px;
    background-color: #f4f4f4;
    color: #499f68;
    width: 200px;
    border-radius: 50%;
    height: 200px;
    vertical-align: middle;
}

/* PROFILE*/
.back_profile {
    background-image: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

.profile_img {
    border-radius: 50%;
    height: 400px !important;
}

.profile_text {
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 40px;
    list-style: none;
}

.div_prof_img {
    box-shadow: 2px 2px 7px gray;
    background-color: #007bff1c;
}

/* ========================================================================================================= */

/* MEDIA QUERY SECTION */
@media only screen and (min-width :1441px) {
    .content_para {
        font-size: 60px;
        line-height: 100px;
    }

    .para_content {
        font-size: 20px;
        font-weight: 800;
    }

    .carousel_img {
        height: 900px;
    }

    .footer_h5 {
        font-size: 35px !important;
        font-weight: 200 !important;
    }

    .footer_links {
        font-weight: 100 !important;
        font-size: 25px !important;
    }

    .footer_icon {
        font-size: 45px !important;
    }

    .para_footer {
        font-size: 25px;
    }
}

@media only screen and (min-width:1025px) and (max-width :1440px) {
    .content_para {
        font-size: 35px;
        line-height: 70px;
    }

    .para_content {
        font-size: 20px;
        font-weight: 600;
    }

    .carousel_img {
        height: 900px;
    }

    .footer_h5 {
        font-size: 25px !important;
        font-weight: 200 !important;
    }

    .footer_links {
        font-weight: 0px !important;
        font-size: 20px !important;
    }

    .footer_icon {
        font-size: 40px !important;
    }

    .para_footer {
        font-size: 20px;
    }
}

@media only screen and (min-width:768px) and (max-width :1024px) {
    .content_para {
        font-size: 25px;
        line-height: 45px;
    }

    .para_content {
        font-size: 35px;
        font-weight: 500;
    }

    .contact_detail_padding {
        padding-left: 2%;
    }

    .carousel_img {
        height: 800px;
    }

    .footer_h5 {
        font-size: 20px !important;
        font-weight: 400 !important;
    }

    .footer_links {
        font-weight: 0px !important;
        font-size: 20px !important;
    }

    .footer_icon {
        font-size: 35px !important;
    }

    .para_footer {
        font-size: 15px;
    }
}

@media only screen and (min-width:426px) and (max-width :767px) {
    .content_para {
        font-size: 30px;
        line-height: 60px;
    }

    .para_content {
        font-size: 10px;
        font-weight: 400;
    }

    .contact_detail_padding {
        padding-left: 2%;
    }

    .carousel_img {
        height: 600px;
    }

    .footer_h5 {
        font-size: 25px !important;
        font-weight: 400 !important;
    }

    .footer_links {
        font-weight: 0px !important;
        font-size: 15px !important;
    }

    .footer_icon {
        font-size: 35px !important;
    }

    .para_footer {
        font-size: 20px;
    }
}

@media only screen and (min-width:320px) and (max-width :425px) {
    .content_para {
        font-size: 20px;
        line-height: 40px;
    }

    .para_content {
        font-size: 10px;
        font-weight: 200;
    }

    .contact_detail_padding {
        padding-left: 2%;
    }

    .carousel_img {
        height: 500px;
    }

    .footer_h5 {
        font-size: 15px !important;
        font-weight: 400 !important;
    }

    .footer_links {
        font-weight: 0px !important;
        font-size: 13px !important;
    }

    .footer_icon {
        font-size: 30px !important;
    }

    .para_footer {
        font-size: 13px;
    }
}

@media only screen and (max-width :319px) {
    .content_para {
        font-size: 20px;
        line-height: 30px;
    }

    .contact_detail_padding {
        padding-left: 2% !important;
    }

    .carousel_img {
        height: 300px;
    }

    .footer_h5 {
        font-size: 15px !important;
        font-weight: 400 !important;
    }

    .footer_links {
        font-weight: 0px !important;
        font-size: 12px !important;
    }

    .footer_icon {
        font-size: 30px !important;
    }

    .para_footer {
        font-size: 12px;
    }
}