* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif !important; */
    /* box-sizing: border-box; */
}

:root {
    --mycolor: #3776ff;
}

body {
    font-family: 'Poppins', sans-serif !important;
    /* background-image: url('../Images/banner.jpg'); */
    /* background-image: url('../Images/b.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-position: left center; */
    /* background-size: cover; */
}

header {
    font-family: 'Poppins', sans-serif !important;
}

.navbar-brand {
    /* right: 0 !important; */
    /* margin-right: 40% !important; */
}


.nav-link {
    font-family: 'Poppins', sans-serif !important;
    color: black !important;
    /* margin: 2px 15px; */
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
.nav-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--mycolor);
    transition: width 0.3s ease;
}
#navbarSupportedContent{
right: 0;
}
.nav-link:hover {
    color: var(--mycolor) !important;
}

.nav-link:hover::before {
    width: 100%;
}


.nav-link.active,
.dropdown-item.active {
    border-bottom: solid 2px var(--mycolor) !important;
    color: var(--mycolor) !important;
}


.dropdown-menu a.dropdown-item:hover {
    color: white;
    background-color: var(--mycolor);
}


/* index.php */

/* hero-section */
.content_para {
    line-height: 73px;
    font-weight: 600;
    padding-top: 60px;
    word-break: keep-all;
    /* letter-spacing: 2px; */
}


.img_banner {
    background-size: cover;
}

.color-change {
    color: var(--mycolor);
}

.div_para {
    margin: 40px 0px 0px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(89, 98, 116);
    max-width: 400px;
    line-height: 38px;
}
.contetnt_div{
    /* font-si/ze:20px; */
    text-indent: 30%;
    
}
.btn-explore {
    position: relative;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--mycolor) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right;
    font-size: 20px;
    padding: 8px 15px;
    margin: 20px 0px;
    z-index: 1;
    border: 2px solid var(--mycolor);
    transition: background-position 0.3s ease-in-out;
}

.btn-explore:hover {
    background-position: left;
    color: white !important;
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slide-right {
    animation: slide-right 1s cubic-bezier(.25, .46, .45, .94) both;
}

.counter-icons {
    background: transparent;
    font-size: 60px;
    border-radius: 50%;
    color: white;
    margin: 80px 30px;
    padding: 50px;
    /* border: #3776ff 1px solid; */
    box-shadow: 0px 0px 10px 5px white;
    ;
    /* padding: 10px; */
}

.counter_h3 {
    background: transparent;
    font-weight: 800;
    margin-left: 80px;
    color: white;
}

.counter_para {
    background: transparent;
    margin-left: 60px;
    font-weight: 900;
    color: white;
}

.banner_img {
    background-image: url('../Images/backs.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

/* carousel */
.caption_p {
    font-size: 50px !important;
    color: rgb(252, 241, 241);
    background-color: rgb(112, 136, 156);

}

.caption_detail {
    color: #fcfcfb;
    background-color: rgb(123, 101, 2);
}

/* content with img */
.h2_custom {
    letter-spacing: 3px;
    line-height: 80px;
    font-weight: 900;
    /* color: var(--mycolor); */
    font-family: 'Poppins', sans-serif !important;
    /* background: transparent !important; */
}

.para_custom {
    font-size: 23px;
    color: rgb(15, 111, 112) !important;
    font-family: 'Poppins', sans-serif !important;
    text-indent: 130px;
}

/* country img with animation */
/* country name styling */
.country_name_box {
    position: absolute;
    color: white;
    width: 60%;
    text-align: center;
    bottom: 0;
    background-color: var(--mycolor);
    z-index: 2;
    padding: 3px;
}

.country_imgs {
    transition: transform 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.country_container {
    overflow: hidden;
    position: relative;
}

.country_container:hover .country_imgs {
    transform: scale(1.4);
}

/* .country_container:hover .country_name_box {
    transform: scale(1.4);
} */

/* country detail */
.detail_h1 {
    /* color: rgb(202, 175, 5) !important;
    /* background-color: rgba(0, 0, 0, 0.29) transparent; 
    box-shadow: 0px 5px 20px 5px #7b797f; */
    /* color: rgb(202, 175, 5) !important; */
    box-shadow: 0px 5px 20px 5px var(--mycolor);
    opacity: 0;
    animation: fadeIn 2.5s forwards;

}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* contry_Detail_places!! */
.card-text {
    text-indent: 50;
}

.places_card:hover {

    box-shadow: 5px 5px 0px 0px var(--mycolor) !important;
}



/* Button styling */


/* Adjustments for smaller screens */
@media (max-width: 576px) {
    .custom-card {
        margin-bottom: 20px;
        height: auto;
    }

    .custom-card .card-img-top {
        height: 200px;
        /* Adjust image height for smaller screens */
    }
}


/* about us page */
.AboutUs_img_team{
    border-radius: 50%;
    width: 100%;
    height:400px;
}























/* media query for navbar */
@media screen and (max-width:760px) {

    .quick_links {
        align-items: center;
    }
}

/* footer */
.footer_custom {
    /* background-color: rgba(11, 77, 153, 0.913); */
    /* background-color: var(--mycolor) !important; */
    background-color: black;
    color: rgb(255, 255, 255);
    /* font-family: Georgia; */
    padding: 20px;
    letter-spacing: 2px;
}

.footer_links {
    text-decoration: none;
    color: white;
    /* font-family: Georgia; */
}

.footer_links:hover {
    color: var(--mycolor);
    text-decoration: solid;
}

.footer_h5 {
    color: var(--mycolor);
    font-weight: 900;

}

/* contact us */
.background_banner {
    background-image: url('../Images/contactUs.jpg');
    background-size: cover;
    height: 400px;
}

.contactUs_h1 {
    font-weight: 900;
    letter-spacing: 2px;
    /* line-height: 80px; */
}

.contactUs_h2 {
    line-height: 80px;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 2px;
    color: white;
    /* background: transparent; */
    padding: 35px;
    margin-top: 180px;
}

.contactUs_h3 {
    color: grey;
}

.contactUs_Img_Country {
    height: 120px;
}
.contactUs_Img_Country_div{
    box-shadow:0 4px 24px rgba(0,0,0,.08);
}
.back_AboutUs{
    background-image: url('../Images/About_Us.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}
.contactUs_Heading{
    font-size: 70px;
}

.contactUs_para{
    margin: 50px 0;
    text-indent: 30%;
}
/* .contactUs_phone {
    font-size: 40px;
}

.contactUs_details {
    padding-left: 20px;
    margin-left: 60px;
} */